<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Error</title>
</head>

<body>
    <div id="loader" style="display: none"></div>

    <div>
        <div>Uh Oh</div>

        <div>
            There seems to be an error in your authorization for some reason. Please
            return to the original application and try to initiate this process
            again. Sorry :/
        </div>
    </div>
</body>
</html>
