<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subscribe</title>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.10.0/dist/cdn.min.js" defer></script>
</head>

<body>
    <div id="loader" style="display: none"></div>

    <button @click="logoutButton">Close and Log Out</button>

    <div>
        <div>Email: <b>{{ .Email }}</b></div>

        <form class="form" id="payment-form">
            <div class="total" id="total">Total: $4.99</div>
            <div id="payment-element"></div>
            <button class="submit" type="submit">Subscribe</button>
        </form>

        {{ template "contact.html" . }}

        <div style="color: rgb(222, 0, 0)" id="error-message"></div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", async () => {
            const stripe = Stripe("pk_test_51PqnrdFKfZyWoeG1V6v3bJ9gBR5HTosFE2Awg8qEQ7HVWOpLP1QelADSBYHrUtBzxj3TdNTzITLjUrAlZNkWYLOT00EtiIbE8I");
            const clientSecret = "{{ .Secret }}";

            const elements = stripe.elements({ clientSecret });
            const paymentElement = elements.create("payment");
            paymentElement.mount("#payment-element");

            const form = document.getElementById("payment-form");
            form.addEventListener("submit", async (event) => {
                event.preventDefault();

                document.getElementById("loader").style.display = "flex";

                try {
                    const { setupIntent, error } = await stripe.confirmSetup({
                        elements,
                        confirmParams: {
                            return_url: window.location.href,
                        },
                        redirect: "if_required",
                    });

                    if (error) {
                        document.getElementById("error-message").textContent = error.message;
                    } else {
                        const paymentMethodId = setupIntent.payment_method;

                        const response = await fetch("/subscription", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            credentials: "include",
                            body: JSON.stringify({ paymentMethodID: paymentMethodId }),
                        });

                        if (response.ok) {
                            location.reload();
                        } else {
                            const errorData = await response.json();
                            document.getElementById("error-message").textContent = errorData.error;
                        }
                    }
                } catch (err) {
                    document.getElementById("error-message").textContent = "Error processing payment, please try again.";
                } finally {
                    document.getElementById("loader").style.display = "none";
                }
            });
        });

        function logoutButton() {
            fetch("/logout", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                credentials: 'include'
            }).finally(() => {
                window.close();
            });
        }
    </script>
</body>
</html>
