<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
</head>

<body>
    <div>
        <div>Success!</div>

        <div>
            You have unsubscribed from our non-essential emails. You can always re-subscribe on the "Privacy Settings" option in the user dropdown at 
            <a href="https://shortentrack.com">shortentrack.com</a>. Take care!
        </div>

    </div>
</body>
</html>